body {
	margin: 0;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	display: inline-block;
	padding: 0;
}

#menu ul {
	background: #004f79;
	height: 48px;
	text-align: right;
}

#menu ul li:FIRST-OF-TYPE {
	margin: 0;
	float: left;
}

.ui-content {
	clear: both;
}

#search {
	margin-bottom: 15px;
	text-align: center;
}

#search input {
	vertical-align: middle;
}

#address {
	height: 30px;
	border: 2px solid #ffcc00;
	padding: 0 7px;
	width: 65%;
}

#search_address,#search_location {
	margin-left: 5px;
}

.icon {
	background: #555;
	width: 30px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}

.blue {
	background: #3875D7;
}

#campings_list .ui-li-thumb {
	left: auto !important;
	right: 1px;
	margin-top: 7px;
}

#campings_list .ui-li {
	background: white;
}

#campings_list a {
	padding-left: 15px !important;
}

#campings_list p {
	color: #004f79;
	font-weight: bold;
	font-size: 15px;
}

#campings_list .distancia {
	float: right;
	color: #004f79;
	font-size: 11px;
}

#datos_camping h1 {
	font-size: 18px;
}

#list-icon .icon {
	margin-right: 5px;
}

#services {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
}

#services li {
	margin-bottom: 5px;
}

#map_canvas_camping {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 300px;
}

.select {
	margin-bottom: 12px;
	display: inline-block;
}