<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/ecampings" version="1.0.0" viewmodes="maximized">
    <access origin="http://googleapis.com" subdomains="true"></access>
    <access origin="http://gstatic.com" subdomains="true"></access>
    <access origin="http://google.com" subdomains="true"></access>
    <access origin="http://ecampings.d228.dinaserver.com" subdomains="true"></access>
    <access origin="192.168.0.10" subdomains="true"></access>
    <access origin="http://192.168.0.26:50151" subdomains="true"/>
    <tizen:application id="4XHvpRE3rb.ecampings" package="4XHvpRE3rb" required_version="2.1"/>
    <content src="http://192.168.0.26:50151/index.html"/>
    <icon src="icon.png"/>
    <name>ecampings</name>
</widget>
